// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';


body {
  margin: 0;
  font-family: sans-serif;
  background: #424242;
}

section {
  padding: 1rem;
}

.container {
  max-width: 60rem;
  margin: auto;
}

.app {
  background: #ffe0b2;
  padding: 1rem;
  &__header {

  }
}

.results-list {
  margin: -1rem;

  &__item {
    margin: 1rem;
  }
}
